* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D5F2E3;
  height: 100vh;
  --border: #000000;
}

.credits {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.credits a {
  all: unset;
  cursor: pointer;
}

.credits img {
  width: 1.6rem;
  height: auto;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26.7rem;
  height: 37rem;
  background-color: #1b1b1b;
  border: 1px solid var(--border);
  border-radius: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: calc(22.8rem + 6px);
  height: 7.4rem;
  background-color: #EDEBD7;
  border: 1px solid var(--border);
  border-radius: 12px;
  margin: .8rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.bottom,
.top {
  font-size: 2.4rem;
  font-style: italic;
  margin-right: 1rem;
  margin-right: 1rem;
  text-align: end;
  max-width: 21rem;
  word-wrap: break-word;
  display: inline-block;
}

.top {
  font-size: 1.4rem;
}

.top-row {
  display: flex;
  max-width: 25rem;
}

.clear,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(10.6rem + 2px);
  height: 3.6rem;
  border: 1px solid var(--border);
  border-radius: 12px;
  margin: .8rem;
  font-size: 1.6rem;
  cursor: pointer;
  user-select: none;
}

.clear {
  background-color: #2FB8DA;
}

.clear:hover {
  background-color: #40BEDD;
}

.clear:active {
  background-color: #25AED0;
}

.delete {
  display: flex;
  background-color: #DD404B;
}

.delete:hover {
  background-color: #E0525B;
}

.delete:active {
  background-color: #DA2F3A;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 25rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 3.6rem;
  background-color: #FFF099;
  border: 1px solid var(--border);
  border-radius: 12px;
  margin: .8rem;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background-color: #FFF3AD;
}

.btn:active {
  background-color: #FFED85;
}

.operator {
  background-color: #FB8500;
}

.operator:hover {
  background-color: #FF961F;
}

.operator:active {
  background-color: #F58300;
}

.eq {
  background-color: #45CB85;
}

.eq:hover {
  background-color: #60D297;
}

.eq:active {
  background-color: #36BF78;
}

@media only screen and (max-width: 500px) {
  body {
    zoom: 50%;
  }
}