* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 35rem;
  background-color: #292929;
  border: 1px solid #000000;
  border-radius: 12px;
}

.display {
  width: 25rem;
  height: 5rem;
  background-color: #cdcbcb;
  border: 1px solid #000000;
  border-radius: 12px;
  margin-top: .8rem;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.btn {
  width: 3.6rem;
  height: 2.7rem;
  background-color: #8f8f8f;
  border: 1px solid #000000;
  border-radius: 12px;
  margin: .8rem;
}